*{
    box-sizing: border-box;
}

body{
    background-color:#fd9f65;
}

button{
    background-color: #928c8ce0;
    color: honeydew;
    border: 1px solid blue;
}

button:hover{
    cursor: pointer;
}

/* head */
.head-bar{
    align-items: baseline;
    padding-bottom: 20px;
}

.search-bar *{
    height: 40px;
}




/* location */

.location{
    padding: 20px;
    align-items: center;
}

.location button{
    height: 50px;
    width: 150px;
}


/* helpers */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}